body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: white;
}

#gameInfo {
    position: absolute;
    top: 100px;
    right: 375px;
    text-align: right;
}

#resetButton {
    margin-top: 10px;
}
